<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB20</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--  中文过滤器-->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
<!--  自动登录过滤器-->
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 热门商品与最新商品 -->
  <servlet>
    <description></description>
    <display-name>indexServlet</display-name>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>web.indexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <!-- ajax获取category数据 -->
  <servlet>
    <description></description>
    <display-name>CatergoryListServlet</display-name>
    <servlet-name>CatergoryListServlet</servlet-name>
    <servlet-class>web.CatergoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatergoryListServlet</servlet-name>
    <url-pattern>/categoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <!--  -->
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveServlet</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>web.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>QuitUserServlet</display-name>
    <servlet-name>QuitUserServlet</servlet-name>
    <servlet-class>web.QuitUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitUserServlet</servlet-name>
    <url-pattern>/QuitUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>SearchWordServlet</display-name>
    <servlet-name>SearchWordServlet</servlet-name>
    <servlet-class>web.SearchWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchWordServlet</servlet-name>
    <url-pattern>/searchWord</url-pattern>
  </servlet-mapping>
  <!--  -->
  <servlet>
    <description></description>
    <display-name>checkUsernameServlet</display-name>
    <servlet-name>checkUsernameServlet</servlet-name>
    <servlet-class>web.checkUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductList</url-pattern>
  </servlet-mapping>
  <!--  v2.0 的分页-->
    <servlet>
      <description></description>
      <display-name>ProductListByCidServlet</display-name>
      <servlet-name>ProductListByCidServlet</servlet-name>
      <servlet-class>web.ProductListByCidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>ProductListByCidServlet</servlet-name>
      <url-pattern>/productListByCid</url-pattern>
    </servlet-mapping>
<!--  商品的详细信息-->
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>web.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfo</url-pattern>
  </servlet-mapping>
<!--  v1.0 的分页-->
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>ProductListServlet</display-name>-->
<!--    <servlet-name>ProductListServlet</servlet-name>-->
<!--    <servlet-class>web.ProductListServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>ProductListServlet</servlet-name>-->
<!--    <url-pattern>/productList</url-pattern>-->
<!--  </servlet-mapping>-->
  <servlet>
    <description></description>
    <display-name>AdminSearchProductListServlet</display-name>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <servlet-class>web.AdminSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <url-pattern>/adminSearchProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductUIServlet</display-name>
    <servlet-name>AdminAddProductUIServlet</servlet-name>
    <servlet-class>web.AdminAddProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductUIServlet</servlet-name>
    <url-pattern>/adminAddProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelProductServlet</display-name>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <servlet-class>web.AdminDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductUIServlet</display-name>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <servlet-class>web.AdminUpdateProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <url-pattern>/adminUpdateProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductServlet</display-name>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <servlet-class>web.AdminUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <url-pattern>/adminUpdateProduct</url-pattern>
  </servlet-mapping>
<!--  购物车-->
  <servlet>
    <description></description>
    <display-name>AddProductToCart</display-name>
    <servlet-name>AddProductToCart</servlet-name>
    <servlet-class>web.AddProductToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductToCart</servlet-name>
    <url-pattern>/addProductToCart</url-pattern>
  </servlet-mapping>
<!--  购物车删除单品-->
  <servlet>
    <description></description>
    <display-name>DelProFromCartServlet</display-name>
    <servlet-name>DelProFromCartServlet</servlet-name>
    <servlet-class>web.DelProFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProFromCartServlet</servlet-name>
    <url-pattern>/delProFromCart</url-pattern>
  </servlet-mapping>
<!--  购物车清空-->
  <servlet>
    <description></description>
    <display-name>ClearCartServlet</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>web.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/clearCart</url-pattern>
  </servlet-mapping>
<!--  订单提交-->
  <servlet>
    <description></description>
    <display-name>SubmitOrderServlet</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>web.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/submitOrder</url-pattern>
  </servlet-mapping>
<!--  订单付款后更新数据库状态-->
  <servlet>
    <description></description>
    <display-name>ConfirmOrderServlet</display-name>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>web.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/confirmOrder</url-pattern>
  </servlet-mapping>
<!--  我的订单-->
  <servlet>
    <description></description>
    <display-name>MyOrderServlet</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>web.MyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/myOrder</url-pattern>
  </servlet-mapping>
</web-app>